body, html {
    width: 960;
    height: 100%;
}
div.box {
    position: relative;
    width: 100px;
    height: 100px;
}
div.exploding {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

#gameBoard {
    position:relative;
    width:%;
    height:90vh;
    border:2px solid red;
    margin:0 auto;
    margin: 20px;
}
