#gameBoard {
    position:relative;
    width:%;
    height:90vh;
    border:2px solid red;
    margin:0 auto;
    margin: 20px;
}

.box {
    position:absolute;
    top:140px; left:140px;
    width:20px; height:20px;
    background-color: dodgerblue;
    transition: all 0.2s ease;
}

.boxgrow {
    position:absolute;
    width:25px; height:25px;
    background-color: dodgerblue;
    // transition: all 0.2s ease;
}

// .exploding{
//       position:absolute;
//       width:10px; height:10px;
//       border-radius: 100px;
//       background-color: hotpink;
// }


.ball {
    position:absolute;
    width:10px; height:10px;
    border-radius: 100px;
    background-color: hotpink;
    &.one {
      top:190px;
      left:190px;
      background-color: blue;
    }
    &.two {
      top:170px;
      left:170px;
      background-color: blue;
    }
    &.three {
      top:100px;
      left:170px;
      background-color: blue;
    }
    &.four {
      top:200px;
      left:200px;
      background-color: green;
    }
}
