body{
  text-align: center;
}
#gameBoard {
  position:relative;
  width:800px;
  height:80vh;
  border:2px solid red;
  display: inline-block;
  margin: 0 20px;
}

.chart{
  height: 50px;
  width: 50px;
  background-color: hotpink;
}

.title{
  font-size: 50px;
  font-family: monospace;
  margin: 20px auto;
  text-align: center;
}

.Scoreboard  {
  height:80vh;
  width: 190px;
  display: inline-block;
  border:2px solid red;

  &ball {
    display: inline;
    position:absolute;
    width:20px; height:20px;
    border-radius: 100px;
    background-color: hotpink;
  }
}

#p1Counter{
  display: table;
  font-size: 90px;
  margin: 20px;
  font-family: monospace;
}
#p2Counter{
  display: table;
  font-size: 90px;
  margin: 20px;
  font-family: monospace;
}

  .boxP1 {
    position:absolute;
    top:0px; left:0px;
    width:20px; height:20px;
    background-color: dodgerblue;
    transition: all 0.2s ease;
  }

  .boxP2 {
    position:absolute;
    top:0px; left:780px;
    width:20px; height:20px;
    background-color: orange;
    transition: all 0.2s ease;
  }



  .ball {
    position:absolute;
    width:10px; height:10px;
    border-radius: 100px;
    background-color: dodgerblue;
  }

  .badball {
    position:absolute;
    width:10px; height:10px;
    border-radius: 100px;
    background-color: red;
  }

    .badball {
      position:absolute;
      width:10px; height:10px;
      border-radius: 100px;
      background-color: red;
    }
