body{
  text-align: center;
}
#gameBoard {
  position:relative;
  width:1000px;
  height:80vh;
  border:2px solid red;
  display: inline-block;
  margin: 0 20px;
}

.title{
  font-size: 50px;
  font-family: monospace;
  margin: 20px auto;
  text-align: center;
}

.Scoreboard  {
  width: 190px;
  display: inline-block;
}

.p1score{
  display: block;
  margin-bottom: 53vh;
}

.p1score{
  display: block;
}
#p1Counter{
  display: table;
  font-size: 90px;
  margin: 20px;
  font-family: monospace;
}
#p2Counter{
  display: table;
  font-size: 90px;
  margin: 20px;
  font-family: monospace;
}

  .boxP1 {
    position:absolute;
    top:0px; left:980px;
    width:20px; height:20px;
    background-color: dodgerblue;
    transition: all 0.2s ease;
  }

  .boxP2 {
    position:absolute;
    top:77.9vh; left:980px;
    width:20px; height:20px;
    background-color: orange;
    transition: all 0.2s ease;
  }



  .ball {
    position:absolute;
    width:10px; height:10px;
    border-radius: 100px;
    background-color: dodgerblue;
  }

.bigBall{
  position:absolute;
  width:20px; height:20px;
  border-radius: 100px;
  background-color: green;
}
  .badball {
    position:absolute;
    width:10px; height:10px;
    border-radius: 100px;
    background-color: red;
  }

#countDownTimer{
  padding-top: 20px;
  height: 40px;
  font-size: 20px;
  font-family: monospace;
  width: 100%;

}

#gameover{
  display:none;
}

#gameOverDiv{
  height: 500px;
  background-color: red;
  font-family: monospace;
  &.noshow{
    display: none;
  }
}

.gameoverTitle{
  color: white;
  font-size: 50px;
  margin: 50px auto;
  font-family: monospace;
}

.showWinner{
  color: white;
  font-size: 50px;
  margin: 50px auto;
  font-family: monospace;
}
